.topbot {
    height: 250px;
    border: 2px solid black;
    background-color: red;
    background-image: linear-gradient(rgb(0, 255, 115), rgb(178, 15, 243));
}
.grad-1{
    height: 350px;
    width: 350px;
    background-color: brown;
    background-image: radial-gradient(#ff6200, #73ff00, rgb(1, 79, 1));
}